#main {
	width: 100%;
	height: 100%;
	background: rgb(0,0,0);
}
/*
#container {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	color: rgb(255,255,255);
}
*/
#board-ratio {
	position: relative;
	display: block;
	padding-top: 9.25%;
	/*background: rgb(255,255,255) url(../images/board.png) center no-repeat;*/
	background: rgb(255,255,255);
	background-size: 100% 100%;
}

#board {
	/*position: absolute;
	top: 2.07%;
	left: 1.47%;
	right: 1.5%;
	bottom: 2.4%;*/
	overflow: hidden;
}

#board-header {
	position: absolute;
	top: 10px;
	width: 100%;
	height: 15%;
	box-sizing: border-box;
}

#title, #subtitle {
	font-weight: normal;
}

#title {
	position: absolute;
	top: 7%;
	left: 1%;
	right: 0;
	bottom: 0;
	max-height: 50%;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
	overflow: hidden;
	font-size: 20pt;
}

#subtitle {
	position: absolute;
	top: 50%;
	left: 1%;
	right: 0;
	bottom: 0;
	max-height: 50%;
	overflow: hidden;
}

.label-subtitle {
	display: block;
	float: left;
	height: 100%;
	width: 15%;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
}

#board-content {
	min-height: 85%;
	/*background: transparent;*/
}

#case {
	float: left;
	width: 91.3%;
	height: 100%;
	background: rgb(255,255,255) transparent!important;
	overflow-x: hidden;
	padding: 1%;
	box-sizing: border-box;
	border: 2px solid #FFFFFF;
	background-color: white;
}

#action {
	position: relative;
	display: inline-block;
	float: right;
	width: 8.7%;
	height: 100%;
	background: transparent;
	padding: 0.5%;
	box-sizing: border-box;
	border: 2px solid #FFFFFF;
	background-color: white;
}

#board-content:after {
	display: block;
	content: ' ';
	clear: both;
}

.container-answer {
	/*position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;*/
	padding: 1.5% 3% 0;
	box-sizing: border-box;
}

.odd-answer { float: left; }
.even-answer { float: right; }

.odd-answer, .even-answer {
	width: 45%;
	height: 100%;
	cursor: pointer;
	padding: 2% 1% 0;
	box-sizing: border-box;
	border: 1px solid transparent;
}

.curr-no, .odd-answer:hover, .even-answer:hover {
	border: 1px solid #EEEEEE;
}

#subtitle:after, .container-answer:after, .odd-answer:after, .even-answer:after,
.wrapper-case:after {
	display: block;
	content: ' ';
	clear: both;
}

.label-no-answer, .label-user-answer {
	width: 50%;
	height: 100%;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;
}

.btn-exam {
	margin-top: 8%;
	min-height: 5%;
	max-height: 5%;
}
/*
.wrapper-case {
	position: relative;
	box-sizing: border-box;
	border: 2px solid transparent;
}
*/
.label-case {
	position: relative;
	float: left;
	min-width: 3%;
	min-height: 5%;
	background-size: contain;
	background-repeat: no-repeat;
	color: #00000;
}

.case-exam {
	float: left;
	max-width: 97%;
	color: #00000;
}

.case-exam img {
	max-width: 100%;
	    background: black;
}

.case-exam video {
	max-width: 200%;
}

.wrapper-case:hover:not(:first-child) {
	border: 2px solid #EEEEEE;
	cursor: pointer;
}

#timer {
	position: absolute;
	top: 50%;
	right: 1%;
	font-size: 18pt;
	-moz-transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

#btnPass, #btnFinish {
	width: 100%;
}