.preloader {
	position: fixed;
	z-index: 1000;
}

tbody tr.selected {
	background-color: #9CA6A7!important;
    opacity: .9;
}

.navbar-top {
    margin-right: 0;
}

.navbar-top li{
    display: inline-block;
}

.inline:not(th) {
	display: inline-flex;
}

.thumbnail:hover {
	background-color: rgba(103, 103, 103, 0.15);
	cursor: pointer;
}

.thumbnail:active, .thumbnail-active {
	background-color: rgba(103, 103, 103, 0.75);
}

.panel-body div:after {
	padding-bottom: 10px;
}

.dropdown-menu li {
	width: 100%;
}