body { 
	background-color: #222;
	background: url(../image/resource/fabric.png);
	background: url(../image/resource/fabric.png), -webkit-gradient(linear, left top, left bottom, from(#5d656e), to(#222)) repeat-x, #222;
	background: url(../image/resource/fabric.png), -webkit-linear-gradient(top, #5d656e, #222) repeat-x, #222;
	background: url(../image/resource/fabric.png), -moz-linear-gradient(top, #5d656e, #222) repeat-x, #222;
	background: url(../image/resource/fabric.png), -ms-linear-gradient(top, #5d656e, #222) repeat-x, #222;
	background: url(../image/resource/fabric.png), -o-linear-gradient(top, #5d656e, #222) repeat-x, #222;
	background: url(../image/resource/fabric.png), linear-gradient(top, #5d656e, #222) repeat-x, #222;
}
#container {
	margin: 0 auto;
	max-width: 240px;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0;
	margin-left: -140px;
}
.black-inputs .input, .input.black-input, .black-inputs .inputs, .inputs.black-input {
	-webkit-box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
	-moz-box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
	box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
	background-size: 100% 100%;
	background: #333333 url(../image/resource/bg_black-inputs_input.png) repeat-x;
}
.inputs {
	display: inline-block;
	padding: 0;
}
ul > li { 
	display: inline-flex;
	list-style: none; 
	/*line-height: 50px;*/
	padding: 10px;
	color: white;
}
.input-unstyled {
	padding: 0 3px;
	vertical-align: baseline;
	height: 16px;
	line-height: 16px;
	border-width: 0;
	color: inherit;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: none;
}
.inputs li input {
	margin-left: 7px;
	width: 200px;
}
input.form-control:visited {
	border: none;
}

input:focus {
	outline-offset: 0px;
}